@import '~antd/dist/antd.css';

/* Login Form */

.login-form {
  width: 300px;
  margin: auto;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

/* Signup Form */

.signup-form {
  width: 300px;
  margin: auto;
}

.signup-form-button {
  width: 100%;
}

/* Profile Form */

.profile-form {
  width: 600px;
  margin-right: auto;
}

.profile-form-button {
  width: 100%;
}

/* Editor Cards */
.custom-card {
  background: #fff;
  border-radius: 4px;
  font-size: 12px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.custom-card:hover {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  border-color: transparent;
}
.custom-card-bordered {
  border: 1px solid #e9e9e9;
}
.custom-card-head {
  height: 48px;
  line-height: 48px;
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  padding: 0 24px;
}
.custom-card-head-title {
  font-size: 14px;
  display: inline-block;
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 500;
}
.custom-card-extra {
  position: absolute;
  right: 24px;
  top: 14px;
}
.custom-card-body {
  margin: 5px auto;
  width: 80%; 
  background-color: #fff; 
  border: 1px solid #ccc;
  cursor: text;
  padding: 5px 10px;
}
.custom-card-loading .custom-card-body {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-card-loading-block {
  display: inline-block;
  margin: 5px 1% 0;
  height: 14px;
  border-radius: 2px;
  background: -webkit-linear-gradient(left, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
  background: linear-gradient(90deg, rgba(207, 216, 220, 0.2), rgba(207, 216, 220, 0.4), rgba(207, 216, 220, 0.2));
  -webkit-animation: card-loading 1.4s ease infinite;
          animation: card-loading 1.4s ease infinite;
  background-size: 600% 600%;
}

/* Editable Cell */
.editable-cell {
  position: relative;
}

.editable-cell-input-wrapper,
.editable-cell-text-wrapper {
  padding-right: 24px;
}

.editable-cell-text-wrapper {
  padding: 5px 24px 5px 5px;
}

.editable-cell-icon,
.editable-cell-icon-check {
  position: absolute;
  right: 0;
  width: 20px;
  cursor: pointer;
}

.editable-cell-icon {
  line-height: 18px;
  display: none;
}

.editable-cell-icon-check {
  line-height: 28px;
}

.editable-cell:hover .editable-cell-icon {
  display: inline-block;
}

.editable-cell-icon:hover,
.editable-cell-icon-check:hover {
  color: #108ee9;
}

.editable-add-btn {
  margin-bottom: 8px;
}

/* Settings Tabs */
#components-tabs-demo-card-top .code-box-demo {
  background: #ececec;
  overflow: hidden;
  padding: 24px;
}

.card-container > .ant-tabs-card > .ant-tabs-content {
  height: auto;
  margin-top: -16px;
}

.card-container > .ant-tabs-card > .ant-tabs-content > .ant-tabs-tabpane {
  background: #fff;
  padding: 16px;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
  border-color: transparent;
}

.card-container > .ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
  border-color: #ececec;
}